
<% if user_signed_in? %>

  <ul class="nav fixed-top justify-content-center">
    <li class="nav-item">
      <%= link_to 'Home', photos_path, class: "nav-link" %>
    </li>

    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>

    <li class="nav-item">
      <%= link_to 'New Photo', new_photo_path, class: "nav-link" %>
    </li>

    <li class="nav-item">
      <%= link_to("Edit", edit_user_registration_path, class: "nav-link") %>
    </li>

    <li class="nav-item logout">
      <%= link_to("Logout", destroy_user_session_path, method: :delete, class: "nav-link") %>
    </li>
  </ul>


<% else %>
    <li>
      <%= link_to("Login", new_user_session_path)  %>
    </li>
<% end %>
