<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<div class="feed">
<% @photos.reverse.each do |photo| %>

  <div class="card col-12 col-sm-7">
    <div><%= photo.user.username %></div>
    <img class="card-img-top" src="<%= photo.image_url %>">
    <div class="card-body">
      <p class="card-text"><%= photo.caption %></p>

      <%= render :partial => 'photos/likeunlike', class: 'likeunlike', locals: { photo: photo } %>

    </div>
  </div>
<% end %>
</div>
