<p id="notice"><%= notice %></p>

<div class="feed">
  <% @photos.reverse.each do |photo| %>

    <div class="card mx-auto col-12 col-sm-7">
      <div class="header container">
        <div class="card_user row">
          <!-- put user image here -->
          <p><%= photo.user.username %></p>

            <div class="dropdown-toggle justify-content-end" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag("icon_options.png", class: "") %>
            </div>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Edit</a>
              <a class="dropdown-item" href="#">Delete</a>
            </div>
        </div>

      </div>
      <img class="card-img-top" src="<%= photo.image_url %>">
      <div class="card-body">
        <%= render :partial => 'photos/likeunlike', class: 'likeunlike', locals: { photo: photo } %>

        <p class="card-text"><span class="caption_user"><%= photo.user.username %></span> <%= photo.caption %></p>


      </div>
    </div>
  <% end %>
</div>
