<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong><br>
  <img src="<%= @photo.image_url %>">

</p>

<p>
  <strong>User:</strong>
  <%= @photo.user.username %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<p>
  <strong>likes:</strong>
  <%= link_to 'like', likes_path(@photo) %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @photo.user.likees_count %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
